/* App CSS */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
}

table {
  font-size: 13px;
}

.container {
  padding: 20px;
  margin: 10px;
}

.bold {
  font-weight: bold;
}

.header {
  background-color: #25292A;
  color: white;
}

.head {
  background-color: #ddd; 
  font-weight: bold;
}

.state-head {
  font-size: 1.2em;
}

#menu {
  width: 300px;
  height: 35px;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #8AD9FF;
  border-radius: 8px;
  margin-top: 15px;
}

#menu ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}

#menu li { 
  display: inline; 
  padding: 20px; 
}

#menu li .active {
  background: #be99e5;
} 

#menu a {
  text-decoration: none;
  color: #000000;
  padding: 8px 8px 8px 8px;
}

#menu a:hover {
  color: #F90;
  background-color: #FFF;
}

.result {
  float: left;
  border: solid 1px black;
  padding: 10px;
  margin: 25px 10px;
}
